/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');


/* general styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: Courier, monospace;
    font-weight: 500;
}

/* Main wrapper styles */
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

/* Menu styles */
.menu {

}

.menu-tile {
    font-family: Orbitron, monospace;
}

/* Game area styles */
.game-area {
    display: none;
}

/* Rules styles */
.rules {
    display: none;
}